{% extends "padre.html" %}
{%  load static %}


{% block contenido %}
<!-- Content section 1-->
<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'app_turnos/assets/img/index.jpg' %}" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Buscar Turnos</h2>
                    
                    <form action="buscar" method="GET">
                    <p>Nombre</p>
                    <input type="text" name="nombre" id="nombre">
                    <input type="submit" value="Buscar">
                </form>
                </div>
            </div>
        </div>
    </div>
</section> 
{% endblock %} 
                    
              